#teamSquare {
  width: 1040px;
  height: 1000px;
  display: flex;
}

.teamMember {
  flex-grow: 1;
  background-color: lightgray;
  border: 1px solid gray;
  position: relative;
}

.userStory {
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 108, 209);;
  opacity: 0.7;
  border: 1px solid black;
  z-index: 1;
}

.userStoryName,
.featureName {
  color: black;
  text-align: center;
  padding: 5px;
  
}
/* Define the CSS class for "Feature 1" */
.feature-1 {
  background-color: rgb(255, 194, 10);
  /* Add any other styling properties as needed */
}
.feature-2 {
  background-color: rgb(64, 176, 166);
  /* Add any other styling properties as needed */
}
.feature-3 {
  background-color: rgb(153, 79, 0);
  /* Add any other styling properties as needed */
}
.feature-4 {
  background-color: rgb(225, 190, 200);
  /* Add any other styling properties as needed */
}

.featurePriority,
.backlogPriority,
.dependsOnLabel {
  color: black;
  text-align: center;
  padding: 5px;
  
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  display: block;
  text-align: center;
  margin-top: 5px;
}
